/* App.css */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --blue: #110ace;
  --lightblue:  #7592e9;
  --mono: monospace;
  --georgia: Georgia, serif;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: var(--georgia); /* Change to any desired font */
}


html, body, .App {
  height: 100%;
  margin: 0;
}


.page-section {
  /*font-family: var(--georgia); /* Change to any desired font */
  font-size: 1.0rem; /* Heading font size */
  color: var(--black); /* Text color */
  line-height: 1.0; /* Line height for better readability */
  padding: 1px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
}

.page-section h2 {
  font-size: 2rem; /* Heading font size */
  margin-top: 8px;
  margin-bottom: 8px; /* Space below the heading */
}

.page-section h3 {
  font-size: 2rem; /* Heading font size */
  margin-top: 6px;
  margin-bottom: 2px; /* Space below the heading */
}

.btn-header {
  /*font-family: var(--georgia) !important; /* Change to any desired font */
  font-size: 1.5rem; /* Adjust the font size as needed */
  border-radius: 3px; /* Rounded corners */
}

.btn-main {
  /*font-family: var(--georgia); /* Change to any desired font */
  font-size: 1.0rem; /* Heading font size */
  line-height: 1.0; /* Line height for better readability */
}

.carousel-container {
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the carousel */
  }

.carousel-img {
    width: 100%; /* Ensures the image takes the full width of the carousel item */
    max-height: 250px; /* Adjust this value to set the maximum height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
  }

.carousel-text {
  font-family: var(--georgia); /* Change to any desired font */
}
  
.text-header-section {
  /*font-family: var(--georgia); /* Change to any desired font */
  font-size: 1.9rem; /* Adjust the font size as needed */
  color: #333; /* Text color */
  line-height: 1.6; /* Line height for better readability */
  padding: 1px; /* Padding around the text */
  background-color: #f3f5fa; /* Background color */
  border-radius: 1px; /* Rounded corners */
  text-align: center;
  vertical-align:middle;
}

.text-section {
  /*font-family: var(--georgia); /* Change to any desired font */
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: var(--black); /* Text color */
  line-height: 1.6; /* Line height for better readability */
  padding: 20px; /* Padding around the text */
  background-color: var(--lightblue); /* Background color */
  border-radius: 10px; /* Rounded corners */

}

.text-section h2 {
  font-size: 3rem; /* Heading font size */
  margin-bottom: 30px; /* Space below the heading */
}

.text-section h3 {
  font-size: 2rem; /* Heading font size */
  margin-bottom: 20px; /* Space below the heading */
}

.text-center {
  text-align: center; /* Center align text */
}

.text-product-title {
  color: var(--blue);
}

.text-italic {
  font-style: italic;
}

.footer {
  height: 50px; /* Adjust the height as needed */
  padding: 0; /* Ensure padding does not affect height */
  font-family: 'Georgia', serif; /* Change to any desired font */
  font-size: 1.0rem; /* Adjust the font size as needed */
}